{% extends "layout.html" %} {% block title %} Contact {% endblock %} {% block
main %}
<h3>Officers and Board of Directors</h3>
<ul>
  <li>Club President: Bobby Miller</li>
  <li>Vice President: Vacant</li>
  <li>Treasurer: Greg Moser</li>
  <li>Secretary: Deb Austin</li>
</ul>
<div class="container m-0">
  <h5>Members:</h5>
  <ul>
    <li>Sheila Chapelle</li>
    <li>Timothy Boyd</li>
    <li>Vitas Eidukevicius</li>
    <li>Brian Bolyard</li>
    <li>Marcy Fleharty</li>
    <li>Bob Pfannenstiel</li>
    <li>Sarah Kellett</li>
  </ul>
</div>

{% endblock %}
