{% extends "layout.html" %} {% block title %} Discussion{% endblock %} {% block
main %}
<div class="row">
  <div class="col-3 bg-danger">
        <form>
        <div class="row mt-3">
            <div class="col-auto">
            <label for="inputTitle" class="col-form-label">Title</label>
            </div>
            <div class="col-auto">
            <input type="text" class="form-control" id="inputTitle" />
            </div>
        </div>
        <div class="mb-4"><label for=""</div>
        </form>
    </div>
  </div>
  <div class="col bg-info">HELLo</div>
</div>
{% endblock %}
