{% extends "layout.html" %} {% block title %} Index {% endblock %} {% block main
%}
<div id="fb-root"></div>
<script
  async
  defer
  crossorigin="anonymous"
  src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v13.0&appId=335826551981603&autoLogAppEvents=1"
  nonce="cqlmWPvf"
></script>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h3 class="mt-4">About the club</h3>
      <div class="container mt-5 ms-0">
        <p>
          The MDCC was founded in 1973 for people who find enjoyment and
          relaxation in the sports of canoeing and kayaking. The group was also
          formed to exchange information, to support preservation of our
          waterways, and to promote SAFE boating. We are affiliated with
          American Whitewater. Our members have a wide range of boating
          interests and abilities, from placid cruising to Class V+ whitewater.
        </p>
      </div>
      <h3 class="mt-4">MDCC Activities</h3>
      <div class="container mt-5 ms-0">
        <p>
          One of the activities offered by MDCC is indoor pool roll sessions.
          Our roll sessions are one of the best ways to get started in kayaking.
          Roll sessions are attended by beginners and advanced paddlers. For
          beginners they are also a good way to meet people in the paddling
          community. We try to obtain boats for the pool session and for
          occasional beginner and rescue classes. The club does not own any
          boats and these boats come from our members.
        </p>
      </div>
      <h3>MDCC on the Web</h3>
      <div class="container mt-5 ms-0">
        <p>
          We have a very active and lively presence on
          <a
            class="link"
            href="https://www.facebook.com/groups/198183710380227/"
            >Facebook</a
          >
          with boating trips posted throughout the year. Photos and comments on
          these trips are posted almost daily. Our Newsletter doesn’t have a
          regular schedule but usually goes out to our members three times a
          year, containing trip schedules, trip reports, boating news, gear for
          sale, and other items of interest. Our scheduled trips range from
          Class 1-2 family floats to the challenge of Class 5 boating. Our
          paddling trips can take place in Maryland, Southern Pennsylvania, West
          Virginia, and Virginia. Close to home trips include Antietam Creek,
          the Potomac River, and the Shenandoah Staircase. The Lower Yough is
          popular in midsummer, and trips have ranged as far away as the Lehigh
          River in PA and the New River in West Virginia. Come and join us on
          the river!
        </p>
      </div>
    </div>
    <div class="col mt-5">
      <div
        class="fb-group"
        data-href="https://www.facebook.com/groups/masondixoncanoecruisers"
        data-width=""
        data-show-metadata="false"
      >
        <blockquote
          cite="https://www.facebook.com/groups/masondixoncanoecruisers"
          class="fb-xfbml-parse-ignore"
        >
          Mason Dixon Canoe Cruisers
        </blockquote>
      </div>
    </div>
  </div>
</div>
{% endblock %}
