{% extends "layout.html" %} {% block title %} Links {% endblock %} {% block main
%}
<h3>Links:</h3>
<div class="accordian">
  <div class="accordian-item">
    <h3 class="accordian-header" id="headingOne">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="false"
        aria-controls="collapseOne"
      >
        CLUBS AND ORGANIZATIONS
      </button>
    </h3>
    <div id="collapseOne" class="accordian-collapse collapse">
      <div class="accordian-body">
        <ul>
          <li>
            <a href="http://www.americanwhitewater.org/" target="_new"
              >American Whitewater Association</a
            >
          </li>
          <li>
            <a href="http://www.wvrivers.org/" target="_new"
              >West Virginia Rivers Coalition</a
            >
          </li>
          <li>
            <a href="http://www.ccadc.org/" target="_new"
              >Canoe Cruisers Association</a
            >&nbsp;A Washington, D.C. based group with a large and active
            membership.
          </li>
          <li>
            <a href="http://www.baltimorecanoeclub.org/" target="_new"
              >Greater Baltimore Canoe Club</a
            >
          </li>
          <li>
            <a href="http://www.monocacycanoe.org/" target="_new"
              >Monocacy Canoe Club</a
            >&nbsp;A Frederick, Maryland based group.
          </li>
          <li>
            <a href="http://coastals.org/" target="_new">Coastal Canoeists</a>
            Located in Virginia.
          </li>
          <li>
            <a href="http://www.threerivers.org/" target="_new"
              >Three Rivers Paddling Club</a
            >&nbsp;Pittsburgh area club with info on the Yough and area rivers.
            (DEAD LINK)
          </li>
          <li>
            <a href="http://www.ccghpa.com/" target="_new"
              >Canoe Club of Greater Harrisburg</a
            >
            River levels for Nescopeck Creek can be found here.
          </li>
          <li>
            <a href="http://www.americancanoe.org" target="_new"
              >American Canoe Association</a
            >
          </li>

          <li>
            <a href="http://benscreekcanoeclub.com/" target="_new"
              >Benscreek Canoe Club</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordian-item">
    <h3 class="accordian-header" id="headingTwo">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo"
      >
        OUTFITTERS, Gear, Rentals and Trips
      </button>
    </h3>
    <div id="collapseTwo" class="accordian-collapse collapse">
      <div class="accordian-body">
        <ul>
          <li>
            <a href="http://www.rivertrail.com/" target="_new"
              >River and Trail Outfitters></a
            >
            Local outfitters in Sandy Hook, MD
          </li>

          <li>
            <a href="http://www.outdoorexcursions.com/"
              >Outdoor Excursions Boonsboro, MD.</a
            >
            Located on Antitem Creek.
          </li>

          <li>
            <a href="http://www.riverriders.com/" target="_new">River Riders</a>
            Across from Harpers Ferry
          </li>

          <li>
            <a href="http://www.btiwhitewater.com/" target="_new">
              BTI Whitewater / Butts Tubes</a
            >
            On Harpers Ferry Rd
          </li>
          <li>
            <a href="http://www.potomacpaddlesports.com/" target="_new"
              >SpringRiver</a
            >
            Outfitters in Rockville
          </li>

          <li>
            <a href="http://www.noc.com/" target="_new"
              >Nantahala Outdoor Center!</a
            >
          </li>
          <li>
            <a href="http://www.endlessriveradventures.com/" target="_new"
              >Endless River Adventures</a
            >
          </li>
          <li>
            <a href="http://www.303products.com/" target="_new"
              >303 Aerospace Protectant</a
            >
          </li>
          <li>
            <a href="http://www.dagger.com/" target="_new"
              >Dagger Canoes and Kayaks</a
            >
          </li>
          <li>
            <a href="http://www.kayaker.com/" target="_new"
              >Perception Kayaks</a
            >
          </li>

          <li>
            <a href="http://www.wildnet.com/" target="_new"
              >Prijon/Wildwasser Kayaks</a
            >
          </li>
          <li>
            <a href="http://www.wenonah.com/" target="_new">We-no-nah Canoes</a>
          </li>
          <li>
            <a href="http://www.mohawkcanoes.com/" target="_new"
              >Mohawk Canoes</a
            >
          </li>

          <li>
            <a href="http://www.riotkayaks.com/" target="_new">Riot Kayaks</a>
          </li>
          <li>
            <a href="http://www.wavesport.com/" target="_new"
              >WaveSport Kayaks</a
            >
          </li>
          <li>
            <a href="http://www.swiftcanoe.com/" target="_new"
              >Swift Canoe and Kayak</a
            >
          </li>
          <li>
            <a href="http://www.oldtowncanoe.com/" target="_new"
              >Old Town Canoes</a
            >
          </li>
          <li>
            <a href="http://www.pyranha.com/" target="_new">Pyranha Kayaks</a>
          </li>
          <li>
            <a href="http://www.madrivercanoe.com/" target="_new"
              >Mad River Canoes</a
            >
            A very informative site, with a complete discussion of paddle
            parameters: correct length, blade shape and offset, shaft and blade
            composition, and much more.
          </li>
          <li>
            <a href="http://www.stohlquist.com/" target="_new">Stohlquist</a
            >&nbsp; Makers of paddling clothing
          </li>
          <li>
            <a href="http://www.salamanderpaddlegear.com/" target="_new"
              >Salamander</a
            >&nbsp; A great line of paddling accessories
          </li>

          <li>
            <a href="http://www.wernerpaddles.com/" target="_new"
              >Werner Paddles</a
            >
          </li>

          <li><a href="http://www.campmor.com/" target="_new">Campmor</a></li>
          <li>
            <a href="https://www.cascadeoutfitters.com/" target="_new"
              >Cascade Outfitters</a
            >
          </li>
          <li>
            <a href="http://www.nrsweb.com/" target="_new"
              >Northwest River Supplies (NRS)</a
            >
          </li>
          <li>
            <a href="http://www.coloradokayak.com/" target="_new"
              >Colorado Kayak Supply</a
            >
            Our club members receive 10% discount from this company
          </li>
          <li>
            <a href="http://www.patagonia.com/" target="_new">Patagonia</a>
          </li>
          <li>
            <a href="http://www.wildnet.com/" target="_new">Wildwasser</a>
            Distributors for Prijon and Eskimo kayaks
          </li>
          <li>
            <a href="http://www.jerseypaddler.com/" target="_new"
              >Jersey Paddler </a
            >Boating store
          </li>

          <li><a href="http://www.rei.com/" target="_new">REI</a></li>
          <li>
            <a href="http://swwhitewater.com/" target="_new"
              >Southwest Whitewater</a
            >
          </li>

          <li>
            <a href="http://www.rapidstyle.com/" target="_new">Rapidstyle</a
            >&nbsp; Local maker of fine paddling clothing
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordian-item">
    <h3 class="accordian-header" id="headingThree">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseThree"
        aria-expanded="false"
        aria-controls="collapseThree"
      >
        MISCELLANEOUS /PERSONAL PAGES:
      </button>
    </h3>
    <div id="collapseThree" class="accordian-collapse collapse">
      <div class="accordian-body">
        <ul>
          <li>
            <a href="http://www.rockandwater.net/pa-ww/" target="_new"
              >Pennsylvania Whitewater Paddling Page</a
            >
            Links to local clubs, events, gauges, etc.
          </li>
          <li>
            <a href="http://www.outdoorplay.com/" target="_new">OutdoorPlay</a>
            Newsletter with forums, shopping, lots of info
          </li>

          <li>
            <a href="http://www.boatertalk.com/" target="_new">Boater Talk</a>
            Message board for paddlers - no holds barred
          </li>
          <li>
            <a
              href="http://www.cs.cmu.edu/%7Eshaw/CGparts/alpha.html"
              target="_new"
              >Canoeing Guide To Wester Pennsylvania</a
            >
          </li>
          <li>
            <a href="http://peteandedbooks.com/" target="_new"
              >Pete and Ed Books</a
            >
            Books on all forms of outdoor recreation
          </li>

          <li>
            <a href="http://members.tripod.com/theeddy/" target="_new"
              >The Eddy Line</a
            >
            From paddlers at the Ocoee River
          </li>

          <li>
            <a href="http://www.canoekayak.com/" target="_new"
              >Canoe and Kayak Magazine</a
            >
          </li>

          <li>
            <a href="http://www.paddlermagazine.com/" target="_new"
              >Paddler Magazine</a
            >
          </li>
          <li>
            <a href="http://www.gorp.com/gorp/activity/paddle.htm" target="_new"
              >GORP (Great Outdoor Recreation Page) Kayaking Page</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
