{% extends "layout.html" %} {% block title %} Nancy Memorial {% endblock %} {%
block main %}
<h1>The Nancy Kell Memorial Fund</h1>
<p>
  On February 24, 2019 our paddling community and family lost a dear friend in a
  tragic kayaking accident. Nancy Kell was a very experienced paddler who left
  us all while doing something she loved very much. She was known far and wide
  by many. Her enthusiasm, energy, dedication, and devotion to kayaking and the
  community was an example to us all. She helped us all to care more, try
  harder, laugh louder, smile bigger, and live life to the fullest. We are all
  truly blessed to have known her.
</p>

<p>
  We are in the process of organizing a Memorial paddle and celebration for
  Nancy on Saturday March 30th 2019. Details will be posted to the club
  <a href="https://www.facebook.com/groups/198183710380227/">Facebook</a>
  page. Many of Nancy's friends have asked about donating for this event. The
  Mason Dixon Canoe Club wanted to answer this by creating the donation link
  below. All donations received will be used specifically for this event. Any
  remaining funds will be used to further causes which we think Nancy would
  want. These are still to be determined and ideas include hosting river safety
  training, introduction to kayaking classes, support for river conservation and
  access issues, and/or other interests and concerns.
</p>
<p>
  We hope you can join us in this celebration to the memory of our beloved
  friend Nancy. Donations are certainly not required but if you can then please
  consider donating. All donations will initially go to the Mason Dixon Canoe
  Club general fund and are not tax deductible.
</p>
<form
  action="https://www.paypal.com/cgi-bin/webscr"
  method="post"
  target="_top"
>
  <input type="hidden" name="cmd" value="_s-xclick" />
  <input type="hidden" name="hosted_button_id" value="GKY55DEEFNKSG" />
  <input
    type="image"
    src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"
    border="0"
    name="submit"
    title="PayPal - The safer, easier way to pay online!"
    alt="Donate with PayPal button"
  />
  <img
    alt=""
    border="0"
    src="https://www.paypal.com/en_US/i/scr/pixel.gif"
    width="1"
    height="1"
  />
</form>
<h5>Thank you.</h5>
<img class="img-fluid" src="/static/nancy.jpg" />
{% endblock %}
